.all-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}
@media (min-width: 768px) and (max-width: 1198px) {
    .all-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    width: 1200px;
    }
}
@media (min-width: 360px) and (max-width: 767px) {
    .all-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    width: 1200px;
    }
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.social-wrapper .facebook { 
    color: white;
    margin-top: 20px;
}
.social-wrapper .instagram {
    color: white;
    margin-left: 10px;
}
.social-wrapper .telegram{
    color: white;
    margin-left: 10px;
}