<div class="all-footer">
<div class="social">
        <div class="social-wrapper">
          <a href="https://www.facebook.com" target="_blank">
            <mat-icon svgIcon="facebook-f-brands" class="facebook"></mat-icon>
          </a>
          <a href="https://www.instagram.com/?hl=ru" target="_blank">
          <mat-icon svgIcon="instagram-brands" class="instagram"></mat-icon>
          </a>
          <a href="https://telegram.org/" target="_blank">
          <mat-icon svgIcon="telegram-brands" class="telegram"></mat-icon>
          </a>
        </div>
</div></div>